body {
    background-color: #302b32 !important;
    overflow:hidden;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

.header {
    color:#585560;
    size: 32px;
    font-size: 40px;
    max-height: 154px;
}

.main-container {

    width: 100%;
    height: 100%;

    position: relative;

    scrollbar-color: rgb(71, 71, 71) #585560;

    overflow: hidden;
    overflow-y: auto;
}

.main-view {
    margin-left: 100px;
    width: 0%;
    min-height: 720px;
    max-height: 815px;
    height: 100%;
    background-color: #212226e3;
    position: absolute;
    transition: width 2s;
    overflow-y: scroll;
    &.home {
        width: 30%;
        overflow-y: scroll;
        overflow-x: hidden;
        min-width: 480px;
    }

    &.gallery {
        width: 60%;
        min-width: 720px;
    }

    &.builds {
        width: 40%;
        min-width: 720px;
    }

    &.team {
        width: 40%;
        min-width: 720px;
    }
}

.main-gallery {
    margin-left: 100px;
    width:60%;
    height: 100%;
    background-color: #585560ee;
    position: absolute;
}

.main-builds {
    margin-left: 100px;
    width: 40%;
    height: 100%;
    background-color: #585560ee;
    position: absolute;
}

.main-team {
    margin-left: 100px;
    width: 40%;
    height: 100%;
    background-color: #585560ee;
    position: absolute;
}

.pitch-container {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #6068bb;
    padding: 10px;
    margin-top:10px;
}

.pitch-text {
    color: #808291;
}

@media screen and (min-width: 600px){
    .main-renderer-only-desktop {
        width: 100%;
        height: 1920px;
    }

    .main-blog {
        flex: 1;
    }
}

@media screen and (max-width: 600px){
    .main-renderer-only-desktop {
        visibility: hidden;
    }

    .main-blog {
        position: absolute;
        resize: both;
    }
}


.view {
    color: white;
}

.main {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    &.home {
        width: 30%;
    }
}

.inner-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: #212226;
    text-align: center;
    padding-top: 10px;
    max-height: 154px;
}

.header-color-bar {
    height: 8px;
    background: rgb(96,104,187);
    background: -moz-linear-gradient(90deg, rgba(96,104,187,1) 0%, rgba(96,104,187,1) 21%, rgba(106,77,119,1) 73%, rgba(106,77,119,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(96,104,187,1) 0%, rgba(96,104,187,1) 21%, rgba(106,77,119,1) 73%, rgba(106,77,119,1) 100%);
    background: linear-gradient(90deg, rgba(96,104,187,1) 0%, rgba(96,104,187,1) 21%, rgba(106,77,119,1) 73%, rgba(106,77,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6068bb",endColorstr="#6a4d77",GradientType=1);
}

.header-links {
    padding-top: 10px;
    padding-bottom: 10px;
}

.team-header {
    color: #ffffff;
    font-size: 28px;
}

.team-header-sub {
    color: #827886;
    font-size: 14px;
    padding-bottom: 20px;
}

.team-logo {
    width: 10%;
    height: 10%;

    min-width: 20px;
    min-height: 20px;

    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
}

.title-logo {
    width: 20%;
    height: 20%;

    max-width: 472px;
    max-height: 97px;

    min-width: 276;
    min-height: 48;

}

.header-link {
    font-size: 18px;
    &.primary {
        color: #6068bb;
    }
    &.secondary {
        color: #6a4d77;
    }
}

ul {
    list-style-type: none;
}

.game-description {
    text-align: left;
}

h3 {
    color: #6068bb;
}

.download-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.download-button {
    border-color: #6068bb !important;
    color: white !important;

    &:hover {
        background-color: #6a4d77 !important;
    }
}

.gallery-image {
    max-width:100%;
    height:auto;
    padding-bottom: 5px;
    padding-top: 5px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

