#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    overflow: hidden;
}

.header {
    color: tomato;
    size: 32px;
    font-size: 40px;
}

.main {
    list-style-type: none;
    margin-left: 25%;
    margin-right: 25%;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: tomato;
    text-align: center;
}