.team-member-info {
    padding-bottom: 40px;
}

.team-icon {
    width: 140px;
    height: 140px;
    border-radius: 5px;
}

.team-member-name {
    text-align: left;
    font-size: 24px;
}

.team-member-description {
    text-align: left;
    padding-bottom: 12px;
}

.team-member-role {
    font-size: 18px;
    color: #aaa9a9;
    padding-left: 10px;
}

.team-member-links {
    align-content: left;
    text-align: left;
    font-size: 24px;
}